.slider {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .label-container {
        width: 20%;
    }

    .sliderbar-outer {
        width: 80%;
        overflow: hidden;
        background-color: $light-gray;
        .sliderbar-inner {
            background-color: $red;
            transition: transform 75ms ease-in-out;
            transform: translateX(-100%);
            height: 24px;
        }
    }
}